n8n-templates/auto-apply-shift-job-draft-updated.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auto-apply-shift-job"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json[\"jobType\"]}}",
              "value2": "shift"
            },
            {
              "value1": "={{$json[\"autoApply\"]}}",
              "value2": true
            }
          ],
          "string": [
            {
              "value1": "={{$json[\"jobBoard\"]}}",
              "value2": "indeed",
              "operation": "notEqual"
            }
          ]
        }
      },
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [480, 300]
    },
    {
      "parameters": {
        "functionCode": "// Use user's info when applying\nreturn [{ json: { success: true, message: `Applied to job ${$json.jobId} on ${$json.jobBoard} for ${$json.userEmail}` } }];"
      },
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [720, 220]
    },
    {
      "parameters": {
        "functionCode": "// If not shift, not auto apply, or jobBoard is 'indeed', return error\nreturn [{ json: { success: false, message: 'Job not eligible for auto apply.' } }];"
      },
      "name": "Code2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [720, 380]
    },
    {
      "parameters": {
        "responseData": "={{$json}}"
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [960, 220]
    },
    {
      "parameters": {
        "responseData": "={{$json}}"
      },
      "name": "Respond to Webhook2",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [960, 380]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
