n8n-templates/auto-apply-shift-job-supabase.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auto-apply-shift-job"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json[\"jobType\"]}}",
              "value2": "shift"
            },
            {
              "value1": "={{$json[\"autoApply\"]}}",
              "value2": true
            }
          ],
          "string": [
            {
              "value1": "={{$json[\"jobBoard\"]}}",
              "value2": "indeed",
              "operation": "notEqual"
            }
          ]
        }
      },
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [480, 300]
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "insert",
        "table": "automation_logs",
        "columns": [
          "action",
          "status",
          "details",
          "metadata"
        ],
        "values": [
          {
            "action": "apply",
            "status": "success",
            "details": "={{$json.jobId}} on {{$json.jobBoard}} for {{$json.userEmail}}",
            "metadata": "={{$json}}"
          }
        ]
      },
      "name": "Supabase Insert Log",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [720, 220]
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "update",
        "table": "jobs",
        "updateKey": "id",
        "updateValue": "={{$json.jobId}}",
        "columns": [
          "status",
          "applied_at",
          "contact_email",
          "contact_phone"
        ],
        "values": [
          {
            "status": "applied",
            "applied_at": "={{$now}}",
            "contact_email": "={{$json.userEmail}}",
            "contact_phone": "={{$json.userPhone}}"
          }
        ]
      },
      "name": "Supabase Update Job",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [960, 220]
    },
    {
      "parameters": {
        "responseData": "={{$json}}"
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1200, 220]
    },
    {
      "parameters": {
        "functionCode": "// If not shift, not auto apply, or jobBoard is 'indeed', return error\nreturn [{ json: { success: false, message: 'Job not eligible for auto apply.' } }];"
      },
      "name": "Code2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [720, 380]
    },
    {
      "parameters": {
        "responseData": "={{$json}}"
      },
      "name": "Respond to Webhook2",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [960, 380]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Supabase Insert Log",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Supabase Insert Log": {
      "main": [
        [
          {
            "node": "Supabase Update Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Update Job": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
